.student-assignment{
    min-height: 150vh;
    max-height: 500vh;
    align-items: center;
    justify-content: center;
    background: rgb(148,255,219);
    background: linear-gradient(90deg, rgba(148,255,219,1) 0%, rgba(185,255,244,1) 15%, rgba(166,221,254,1) 85%, rgba(68,224,255,1) 100%);
}

.title2{
    
    text-align: center;
    display:inline-block;
    width: 70%;
    background:white;
    position: relative;
    left: 15%;
    height: 150px;
    border-radius:0px 0px 20px 20px;
    background-image:  url(../Images_copy/bg.jpg);
    background-position: center;
    background-size: 700px;
}
.first{
    text-align: left;
    font-size: 6em;
    padding-left: 30px;
    color: #18786b;;
}
.second{
    text-align: right;
    font-size: 2em;
    padding-right: 30px;
    color: #007060;
}
.question{
    display:inline-block;
    position: relative;
    top: 6vh;
    right: -15%;
    background-color: white;
    width: 70em;
    height:40vh;
    border-radius:10px 10px 10px 10px;
    padding: 10px;
    overflow: auto;
}

.choosefile2 {
    display:inline-block;
    position: absolute;
    left: 65%;
    top: 40%;
   
}
.upload2{
    display:inline-block;
    position: absolute;
    left: 65px;
    top: 70px;
    width: 130px;

}
.details{
    display:inline-block;
    position: absolute;
    left: -30px;
    top: 90px;
    width: 360px;
    text-align: center;
}
.myfile2 {
    position: absolute;
    width: 25rem;
    height: 35px;
    left: 130%;
    top: 20px;
    font-size: large;
  
    /* background: url(../Images_copy/Screenshot\ 2022-03-10\ 115845.png); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
} 

/* From uiverse.io by @adamgiebl */
.upload2 {
    font-family: inherit;
    font-size: 20px;
    background: #11698E;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    border-radius: 16px;
    overflow: hidden;
    transition: all 0.2s;
   }
   
   .upload2 span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
   }
   
   .upload2 svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
   }
   
   .upload2:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
   }
   
   .upload2:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
   }
   
   .upload2:hover span {
    transform: translateX(5em);
   }
   
   .upload2:active {
    transform: scale(0.95);
   }
   
   @keyframes fly-1 {
    from {
     transform: translateY(0.1em);
    }
   
    to {
     transform: translateY(-0.1em);
    }
   }
   
   
.scan3 {
    position: absolute;
    width: 332px;
    height: 72px;
    left: 955px;
    top: 600px;
    z-index: 1;
    
  
    background: linear-gradient(-45deg, rgba(78, 223, 255, 0.47), #004360, #27c8b7, rgba(78, 223, 255, 0.47));
    background-size: 800% 400%;
    padding: 1em 2em;
    display: inline-block;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: white;
    transition: all .5s ease-in-out;
    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
   }
   
   .scan3:hover {
    animation: gradient 3s infinite;
    transform: scale(1.05);
   }
   
   .scan3:active {
    animation: gradient 3s infinite;
    transform: scale(0.8);
   }
   
   @keyframes gradient {
    0% {
     background-position: 0% 50%;
    }
   
    50% {
     background-position: 100% 50%;
    }
   
    100% {
     background-position: 0% 50%;
    }
   }
  
   .viewbutton{
    position: absolute;
    top: 82%;
    right:70%;
}
/* From uiverse.io */
.viewbutton {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
   }
   
   .viewbutton:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
   }
   
   .viewbutton:active {
    transform: translateY(-1px);
   }
   .viewsubmission{
       /* background-color:black; */
       position: absolute;
       font-size: medium;
       height: 30vh;

       display:inline;
       top: 92%;
       left:15%;
      
      
       width: 42em;
       
       border-radius:10px 10px 10px 10px;
       padding: 10px;
       }

       .grammarreport{
        /* background-color:blue; */
        position: absolute;
        
        min-height: 30vh;
 
        display:inline;
        top: 98%;
        left:60%;
       
       
        width: 30em;
        
        border-radius:10px 10px 10px 10px;
        padding: 10px;
        white-space: pre-line;

        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        font-size: medium;
        overflow: auto;
        }

       

